*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    
}
.container{
    height: 300px;
    width: 400px;

}
.main-content {
    width: 100%;
    height:fit-content;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}
h1{
    padding: 20px;
}